<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS File</title>
</head>

<body>
    <h1>This is an ejs file! <%= 48448541*2 %>
    </h1>
    <h2>The parameter passed is : <%= num %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatum quia impedit asperiores quasi nobis,
        illum, dolorem saepe corrupti doloribus dicta? Ad adipisci tenetur dolorum commodi fuga error corporis
        molestias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, perspiciatis labore dignissimos
        fugiat, sequi a, doloremque minus et voluptates magnam quod mollitia expedita corrupti aut provident? Id
        corporis dolorum ratione.</p>
</body>

</html>