img {
    width: 30%;
    margin: 1.6666%;
}

section {
    margin: auto;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    margin-left: 1.6666 %;
    width: 30%;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}